* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* color for container */
  --bg-wrapper: #243533;
  /* color for body */
  --bg-body: #1a5535;
  /* color for h1 */
  --color-accent: #37b6ba;
  /* color for button text  */
  --color-text-main: #000000;
  /* color text */
  --color-text-secondary: #d9d9d9;
}

body {

  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--color-text-secondary);
}

.container-contact {
  min-height: 100vh;
  margin: 50px 24px;
  max-width: 1200px;
  border-radius: 10px;
}

h1 {
  color: var(--color-accent);
  font-size: 32px;
  margin-left: 55px;
  padding-top: 30px;
  text-transform: uppercase;
}

.form-action {
  margin: 20px auto; 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 20px;
  max-width: 90%; 
}

legend {
  margin-left: 8px;
  font-size: 16px;
  padding: 0px 8px;
}

#Biodata,
#text-area {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#Biodata input {
  margin-top: 4px;
  margin-bottom: 8px;
  padding: 8px 12px;
  width: 100%; 
  border-radius: 4px;
  border: 1px solid #ccc;
}

#Purpose {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

#Purpose label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#btn-submit {
  position: relative;
  bottom: 10px;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  width: 50%;
  font-weight: bold;
  transition: transform 0.2s;
  background-color: var(--color-accent);
}

#btn-submit:hover {
  transform: translateY(-5px);
  background-color: var(--color-text-secondary);
  color: black;
  border: 1px solid var(--color-text-secondary);
}


/* ==================================== */
/* Media Queries Start */

@media (max-width: 575.98px) {
  h1 {
    margin: 10px 0;
  }

  .form-action {
    grid-template-columns: 1fr;
    margin: 4px;
    gap: 10px;
  }

  label {
    font-size: 16px;
  }

  #Biodata input {
    width: 100%;
  }

  #btn-submit{
    position: static;
    width: 50%;
    margin-bottom: 10px;
  }
}


@media (min-width: 768px) and (max-width: 1199.98px) {
    

    h1 {
      color: var(--color-text-secondary);
    }

    .form-action {
      grid-template-columns: 1fr;
    }

    #Biodata input {
      width: 70%;
    }

    label {
      font-size: 24px;
    }

    #btn-submit {
      font-size: 16px;
      position: static;
      width: 100%;
    }
}
